@import "tailwindcss";

@theme {
    --color-primaryGray: #F3F3F3;
    --color-secondaryGray: #B6B6B6;
    --color-primaryBlack: #000000;
    --color-primaryDarkGray: #848484;
    --color-secondaryBlack: #2F2F2F;
    --color-primaryWhite: #FFFFFF;
    --color-bgGray: #F5F5F5;
    --color-bgDarkGray: #909090;
    --color-txtGray: #A5A5A5;
    --color-txtDarkGray: #6B6B6B;
    --color-txtBlue: #27C5C5;
    --color-bgSemiDarkGray: #C7C7C7;
}